<!-- <div>
  <table>
    <tr>
      <th>ID</th>
      <th>Data di Invio</th>
      <th>Data di Ricezione</th>
      <th>Tipo</th>
      <th>Mittente</th>
      <th>Destinatario</th>
      <th>Oggetto</th>
      <th>Numero di Allegati</th>
    </tr>
    <tbody>
      <tr *ngFor = "let mail of mails ">
        <td>{{mail.protId}}</td>
        <td>{{mail.dataInvio}}</td>
        <td>{{mail.dataRicezione}}</td>
        <td>{{mail.tipo}}</td>
        <td>{{mail.mittente}}</td>
        <td>{{mail.destinatario}}</td>
        <td>{{mail.oggetto}}</td>
        <td>{{mail.allegati}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div>
  <table
  mat-table [dataSource]= 'mails'
  matSort
  class="mat-elevation-z8" >

    <ng-container matColumnDef="protId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let mail"> {{mail.protId}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let mail"> {{mail.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="oggetto" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Oggetto </th>
      <td mat-cell *matCellDef="let mail"> {{mail.oggetto}} </td>
    </ng-container>

    <ng-container matColumnDef="allegati" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Allegati </th>
      <td mat-cell *matCellDef="let mail"> {{mail.allegati}} </td>
    </ng-container>

    <ng-container matColumnDef="dataInvio" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data di Invio </th>
      <td mat-cell *matCellDef="let mail"> {{mail.dataInvio}} </td>
    </ng-container>
    
    <ng-container matColumnDef="dataRicezione" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data di Ricezione </th>
      <td mat-cell *matCellDef="let mail"> {{mail.dataRicezione}} </td>
    </ng-container>

    <ng-container matColumnDef="mittente" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mittente </th>
      <td mat-cell *matCellDef="let mail"> {{mail.mittente}} </td>
    </ng-container>

    <ng-container matColumnDef="destinatario" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinatario </th>
      <td mat-cell *matCellDef="let mail"> {{mail.destinatario}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>

  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[2 ,5 , 10, 50]"></mat-paginator>

</div>
