table {
  width: 100%;
  text-align: left;
}
th {
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}
