<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>{{card.title}}</h2>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item [routerLink]="['/details', card.body.protId]">Details</button>
              <button mat-menu-item (click)="editMail(card.body)">Update</button>
              <button mat-menu-item (click)="deleteMail(card.body.protId)">Delete</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <h3> Data di Invio </h3>{{card.body.dataInvio}}</div>
          <div>
            <h3> Data di Ricezione </h3>{{card.body.dataRicezione}}</div>
          <div>
            <h3> Mittente </h3>{{card.body.mittente}}</div>
          <div>
            <h3> Destinatario </h3>{{card.body.destinatario}}</div>
          <div>
            <h3> N° Allegati </h3>{{card.body.allegati}}</div>
          <div>
            <h3> Tipo di Mail </h3>{{card.body.tipo}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <button class="plus-button" mat-icon-button (click)="editMail(mail)">
    <mat-icon>add_circle</mat-icon>
  </button>

</div>
