<div>
 <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
    <div class="form-title">New Mail</div><br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="dataInvio" placeholder="Data di Invio">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" formControlName="dataRicezione" placeholder="Data di Ricezione">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput placeholder="Mittente" formControlName="mittente">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput placeholder="Destinatario" formControlName="destinatario">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput placeholder="Oggetto" formControlName="oggetto">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput type="number" placeholder="Allegati" formControlName="allegati">
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option *ngFor="let tipo of tipi" [value]="tipo">
          {{tipo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary">Insert</button>
</form>
</div>
