<!-- <div>
  <table>
    <tr>
      <th>ID</th>
      <th>Data di Invio</th>
      <th>Data di Ricezione</th>
      <th>Tipo</th>
      <th>Mittente</th>
      <th>Destinatario</th>
      <th>Oggetto</th>
      <th>Numero di Allegati</th>
    </tr>
    <tbody>
      <tr *ngFor = "let mail of mails ">
        <td>{{mail.protId}}</td>
        <td>{{mail.dataInvio}}</td>
        <td>{{mail.dataRicezione}}</td>
        <td>{{mail.tipo}}</td>
        <td>{{mail.mittente}}</td>
        <td>{{mail.destinatario}}</td>
        <td>{{mail.oggetto}}</td>
        <td>{{mail.allegati}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div>
  <table mat-table [dataSource]= 'mails' class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header='protId'> ID </th>
      <td mat-cell *matCellDef="let mail"> {{mail.protId}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header='tipo'> Tipo </th>
      <td mat-cell *matCellDef="let mail"> {{mail.tipo}} </td>
    </ng-container>
    <ng-container matColumnDef="oggetto" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='oggetto'> Oggetto </th>
      <td mat-cell *matCellDef="let mail"> {{mail.oggetto}} </td>
    </ng-container>
    <ng-container matColumnDef="allegati" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='allegati'> Allegati </th>
      <td mat-cell *matCellDef="let mail"> {{mail.allegati}} </td>
    </ng-container>
    <ng-container matColumnDef="dataInvio" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='dataInvio'> Data di Invio </th>
      <td mat-cell *matCellDef="let mail"> {{mail.dataInvio}} </td>
    </ng-container>
    <ng-container matColumnDef="dataRicezione" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='dataRicezione'> Data di Ricezione </th>
      <td mat-cell *matCellDef="let mail"> {{mail.dataRicezione}} </td>
    </ng-container>
    <ng-container matColumnDef="mittente" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='mittente'> Mittente </th>
      <td mat-cell *matCellDef="let mail"> {{mail.mittente}} </td>
    </ng-container>
    <ng-container matColumnDef="destinatario" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header='destinatario'> Destinatario </th>
      <td mat-cell *matCellDef="let mail"> {{mail.destinatario}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
